In [1]:
import pandas as pd
import numpy as np
import statistics as st

In [2]:
data = pd.read_csv("Top250.csv")

In [3]:
data.head(10)

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger
5,6,Subway,NaN,10200,-2.0%,23801,-4.0%,NaN,Quick Service & Sandwich
6,7,Wendy's,NaN,9762,4.2%,5852,0.7%,NaN,Quick Service & Burger
7,8,Dunkin',"Dunkin' dropped ""Donuts"" from its name and rep...",9228,5.0%,9630,2.2%,NaN,Quick Service & Coffee Cafe
8,9,Domino's,NaN,7044,6.9%,6126,4.3%,NaN,Quick Service & Pizza
9,10,Panera Bread,NaN,5890,4.0%,2160,3.2%,NaN,Fast Casual & Bakery Cafe

In [5]:
data.shape

(250, 9)

In [6]:
data.columns

Index(['Rank', 'Restaurant', 'Content', 'Sales', 'YOY_Sales', 'Units',
       'YOY_Units', 'Headquarters', 'Segment_Category'],
      dtype='object')

In [7]:
# tomar el tipo de restaurante como indice
tipo = data.set_index('Segment_Category')

In [8]:
tipo

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters
Segment_Category,,,,,,,,
Quick Service & Burger,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN
Quick Service & Coffee Cafe,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN
Quick Service & Chicken,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN
Quick Service & Mexican,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN
Quick Service & Burger,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN
...,...,...,...,...,...,...,...,...
Varied Menu,246,Rainforest Cafe,NaN,129,-10.4%,18,-5.3%,NaN
Chicken,247,PDQ,NaN,127,-5.5%,56,-11.1%,NaN
Mexican,248,Lupe Tortilla,NaN,127,12.1%,25,8.7%,NaN
Burger,249,Cook-Out Restaurant,NaN,126,10.1%,270,7.1%,NaN
Chicken,250,Jollibee,NaN,126,15.2%,40,11.1%,NaN

In [10]:
# crear un dataframe de los restaurantes que son solo tipo de pollo
pollo = tipo.loc['Chicken', :]

In [11]:
pollo.shape

(7, 8)

In [16]:
# contar los elementos que son pollo en la columna de segmento de categorias del dataframe original
sum(data.Segment_Category == 'Chicken')

7

In [18]:
# agrupar por segmento de categoria, cuenta cuantas categorias unicas hay y cuantos registros cuenta en cada columna
data.groupby('Segment_Category').count()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters
Segment_Category,,,,,,,,
Asian,3,3,0,3,3,3,3,1
Asian/Noodle,3,3,0,3,3,3,3,2
BBQ,7,7,1,7,7,7,7,2
Bakery Cafe,8,8,2,8,8,8,8,2
Burger,10,10,1,10,10,10,10,4
Casual Dining & Asian,1,1,0,1,1,1,1,0
Casual Dining & Italian/Pizza,4,4,1,4,4,4,4,0
Casual Dining & Seafood,2,2,0,2,2,2,2,0
Casual Dining & Sports Bar,3,3,0,3,3,3,3,0
Casual Dining & Steak,4,4,0,4,4,4,4,0
Casual Dining & Varied Menu,9,9,2,9,9,9,9,0
Chicken,7,7,1,7,7,7,7,1
Coffee Cafe,4,4,1,4,4,4,4,2
Ethnic,1,1,0,1,1,1,1,0
Family Casual,4,4,1,4,4,4,4,1
Family Dining & Family Style,7,7,3,7,7,7,7,0
Family Style,10,10,1,10,10,10,10,3
Fast Casual & Asian/Noodle,2,2,2,2,2,2,2,0
Fast Casual & Bakery Cafe,1,1,0,1,1,1,1,0
Fast Casual & Burger,4,4,0,4,4,4,4,0
Fast Casual & Chicken,4,4,1,4,4,4,4,0
Fast Casual & Mexican,3,3,0,3,3,3,3,0
Fast Casual & Pizza,1,1,0,1,1,1,1,0
Fast Casual & Sandwich,6,6,0,6,6,6,6,0
Fine Dining & Steak,1,1,0,1,1,1,1,0
Frozen Desserts,4,4,0,4,4,4,4,2
Healthy,1,1,1,1,1,1,1,0
Italian/Pizza,10,10,0,10,10,10,10,2
Mexican,14,14,0,14,14,14,14,6
Pizza,9,9,0,9,9,9,9,5
Quick Service & Bakery Cafe,1,1,0,1,1,1,1,0
Quick Service & Beverage,3,3,0,3,3,3,3,0
Quick Service & Burger,13,13,3,13,13,13,13,0
Quick Service & Chicken,6,6,1,6,6,6,6,0
Quick Service & Coffee Cafe,4,4,2,4,4,4,4,1
Quick Service & Family Casual,1,1,0,1,1,1,1,0
Quick Service & Frozen Desserts,2,2,0,2,2,2,2,0
Quick Service & Mexican,2,2,0,2,2,2,2,0
Quick Service & Pizza,8,8,3,8,8,8,8,0
Quick Service & Sandwich,4,4,1,4,4,4,4,0
Quick Service & Seafood,1,1,0,1,1,1,1,0
Quick Service & Snack,2,2,0,2,2,2,2,0
Sandwich,7,7,1,7,7,7,7,3
Seafood,8,8,0,8,8,8,8,2
Snack,4,4,0,4,4,4,4,0
Sports Bar,6,6,1,6,6,6,6,2
Steak,9,9,0,9,9,9,9,6
Varied Menu,22,22,3,22,22,22,22,5

In [20]:
burger = tipo.loc['Burger', :]
burger.shape

(10, 8)

In [25]:
# traer todos los registros de la categoria burger que tenga headquarters
tipo.loc['Burger', :]

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters
Segment_Category,,,,,,,,
Burger,118,Krystal Co.,NaN,343,-9.0%,318,-10.7%,"Dunwoody, GA"
Burger,134,Jack's,NaN,290,9.8%,176,8.6%,"Birmingham, AL"
Burger,139,Rally's Hamburgers,NaN,275,-3.5%,290,-3.7%,"Lexington, KY"
Burger,147,Smashburger,NaN,265,-6.5%,312,-3.4%,"Denver, CO"
Burger,160,A&W All-American Food,The chain's 100th birthday found it working to...,227,1.8%,575,-6.5%,NaN
Burger,183,Fuddruckers,NaN,185,-15.8%,138,-11.5%,NaN
Burger,190,Farmer Boys,NaN,179,1.7%,93,1.1%,NaN
Burger,211,Wayback Burgers,NaN,159,2.0%,143,0.7%,NaN
Burger,234,BurgerFi,NaN,138,3.0%,112,7.7%,NaN
Burger,249,Cook-Out Restaurant,NaN,126,10.1%,270,7.1%,NaN

In [24]:
tipo

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters
Segment_Category,,,,,,,,
Quick Service & Burger,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN
Quick Service & Coffee Cafe,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN
Quick Service & Chicken,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN
Quick Service & Mexican,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN
Quick Service & Burger,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN
...,...,...,...,...,...,...,...,...
Varied Menu,246,Rainforest Cafe,NaN,129,-10.4%,18,-5.3%,NaN
Chicken,247,PDQ,NaN,127,-5.5%,56,-11.1%,NaN
Mexican,248,Lupe Tortilla,NaN,127,12.1%,25,8.7%,NaN
Burger,249,Cook-Out Restaurant,NaN,126,10.1%,270,7.1%,NaN
Chicken,250,Jollibee,NaN,126,15.2%,40,11.1%,NaN

In [28]:
# traer el registro del restaurante Chick-fil-A
np.where(data['Restaurant'] == 'Chick-fil-A') # ubicar el indice del registro del restaurante

(array([2], dtype=int64),)

In [29]:
# acceder al regristro por su indice obtenido  en la  instruccion anterior
data.iloc[2, :]

Rank                                                                3
Restaurant                                                Chick-fil-A
Content             While Popeyes got a lot of the chicken buzz in...
Sales                                                           11320
YOY_Sales                                                       13.0%
Units                                                            2470
YOY_Units                                                        5.0%
Headquarters                                                      NaN
Segment_Category                              Quick Service & Chicken
Name: 2, dtype: object

In [11]:
# encontrar los indices de los registros de los restaurantes de hamburguesas
indice_burgers = np.where(data['Segment_Category'] == 'Burger')
indice_burgers

(array([117, 133, 138, 146, 159, 182, 189, 210, 233, 248], dtype=int64),)

In [17]:
# buscar el registro de todos los restaurantes de hamburguesas
data.iloc[indice_burgers]

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
117,118,Krystal Co.,NaN,343,-9.0%,318,-10.7%,"Dunwoody, GA",Burger
133,134,Jack's,NaN,290,9.8%,176,8.6%,"Birmingham, AL",Burger
138,139,Rally's Hamburgers,NaN,275,-3.5%,290,-3.7%,"Lexington, KY",Burger
146,147,Smashburger,NaN,265,-6.5%,312,-3.4%,"Denver, CO",Burger
159,160,A&W All-American Food,The chain's 100th birthday found it working to...,227,1.8%,575,-6.5%,NaN,Burger
182,183,Fuddruckers,NaN,185,-15.8%,138,-11.5%,NaN,Burger
189,190,Farmer Boys,NaN,179,1.7%,93,1.1%,NaN,Burger
210,211,Wayback Burgers,NaN,159,2.0%,143,0.7%,NaN,Burger
233,234,BurgerFi,NaN,138,3.0%,112,7.7%,NaN,Burger
248,249,Cook-Out Restaurant,NaN,126,10.1%,270,7.1%,NaN,Burger

In [19]:
# recuperar la columna Restaurant
data['Restaurant']

0               McDonald's
1                Starbucks
2              Chick-fil-A
3                Taco Bell
4              Burger King
              ...
245        Rainforest Cafe
246                    PDQ
247          Lupe Tortilla
248    Cook-Out Restaurant
249               Jollibee
Name: Restaurant, Length: 250, dtype: object

In [4]:
data.Sales.mean()

1242.74

In [5]:
data['Sales'].mean()

1242.74

In [10]:
sum = 0
for ei in data['Sales']:
    sum = sum + ei
    
print(sum/len(data['Sales']))

1242.74

In [12]:
data['Sales'].describe()

count      250.00000
mean      1242.74000
std       3365.22882
min        126.00000
25%        181.00000
50%        330.00000
75%        724.75000
max      40412.00000
Name: Sales, dtype: float64

In [20]:
# ver cual es el registro con la mayor venta
data.loc[:,'Sales'] == 40412

0       True
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: Sales, Length: 250, dtype: bool

In [21]:
# recuperar el registro del restaurante con la mayor venta
data.iloc[0, :]

Rank                                     1
Restaurant                      McDonald's
Content                                NaN
Sales                                40412
YOY_Sales                             4.9%
Units                                13846
YOY_Units                            -0.5%
Headquarters                           NaN
Segment_Category    Quick Service & Burger
Name: 0, dtype: object

In [32]:
ventas_mayores = np.where(data['Sales'] == 40412)

In [33]:
data.iloc[ventas_mayores]

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger

In [49]:
# guardar el indice del restaurante con la menor venta
venta_menores = np.where(data['Sales'] == 126)
venta_menores

(array([248, 249], dtype=int64),)

In [26]:
data.iloc[venta_menores]

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
248,249,Cook-Out Restaurant,NaN,126,10.1%,270,7.1%,NaN,Burger
249,250,Jollibee,NaN,126,15.2%,40,11.1%,NaN,Chicken

In [37]:
# obtener los restaurantes con las ventas menores
data.loc[venta_menores, 'Restaurant']

248    Cook-Out Restaurant
249               Jollibee
Name: Restaurant, dtype: object